# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\rubytut2\lesson3\gibbet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
